ion-item {
  margin: 10px;
  border: 1px solid #1b57b1;
}
.save-button {
  background-color: #1b57b1;
  border-radius: 20%;
  padding: 10px;
}
.user-image {
  --size: 100px;
  margin: auto;
  justify-content: center;
}
