<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title> User Details </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col>
      <ion-thumbnail class="user-image">
        <img src="/assets/avatar.png" />
      </ion-thumbnail>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item>
          <ion-text>Name: Ashlesha Garg</ion-text>
        </ion-item>
        <ion-item>
          <ion-text> Contact No.: 9649923441</ion-text>
        </ion-item>
        <ion-item>
          <ion-text> EmailID: ashlesha.mnnit2k17@gmail.com</ion-text>
        </ion-item>
      </ion-list>
    </ion-col></ion-row
  >
</ion-content>
