<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title> Contacts</ion-title>
    <ion-icon
      slot="end"
      name="person-add"
      size="large"
      class="ion-margin"
      (click)="openNewContactModal()"
    ></ion-icon>
  </ion-toolbar>
  <ion-searchbar
    #searchbar
    (ionInput)="searchcontact(searchbar.value)"
  ></ion-searchbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-list>
    <ion-item
      *ngFor="let contact of searchedcontact  "
      [routerLink]="'/contact-details/' + contact.id"
    >
      <div item-start></div>
      <ion-avatar item-start class="ion-margin">
        <img src="{{ contact.image }}" *ngIf="contact.image" />
        <img src="assets/avatar.png" *ngIf="!contact.image" />
      </ion-avatar>
      <ion-label>{{ contact.firstName }} {{ contact.lastName }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
