ion-content {
  --padding-top: 16px;

  .add-photo-wrapper {
    justify-content: center;
  }
}
ion-item {
  margin: 10px;
  border: 1px solid #1b57b1;
}
.save-button {
  padding: 10px;
  margin: 20px;
}
.user-image {
  --size: 100px;
  margin: auto;
  justify-content: center;
}
